[aarch64,darwin,"latest:<=20.1.0"]: 20.1.0 = LLVM-20.1.0-macOS-ARM64.tar.xz
[aarch64,darwin,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: 20.1.0 = LLVM-20.1.0-macOS-ARM64.tar.xz
[aarch64,darwin,"latest:<20.1.0,>17.0.4,!=19.1.7"]: 19.1.6 = LLVM-19.1.6-macOS-ARM64.tar.xz
[aarch64,darwin,"latest:<20.1.0,>17.0.4"]: 19.1.7 = LLVM-19.1.7-macOS-ARM64.tar.xz
[aarch64,linux,"latest:<=20.1.0"]: 20.1.0 = LLVM-20.1.0-Linux-ARM64.tar.xz
[aarch64,linux,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: 20.1.0 = LLVM-20.1.0-Linux-ARM64.tar.xz
[aarch64,linux,"latest:<20.1.0,>17.0.4,!=19.1.7"]: 19.1.6 = clang+llvm-19.1.6-aarch64-linux-gnu.tar.xz
[aarch64,linux,"latest:<20.1.0,>17.0.4"]: 19.1.7 = clang+llvm-19.1.7-aarch64-linux-gnu.tar.xz
[aarch64,raspbian,"latest:<=20.1.0"]: 20.1.0 = clang+llvm-20.1.0-armv7a-linux-gnueabihf.tar.gz
[aarch64,raspbian,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: 20.1.0 = clang+llvm-20.1.0-armv7a-linux-gnueabihf.tar.gz
[aarch64,raspbian,"latest:<20.1.0,>17.0.4,!=19.1.7"]: 19.1.6 = clang+llvm-19.1.6-armv7a-linux-gnueabihf.tar.gz
[aarch64,raspbian,"latest:<20.1.0,>17.0.4"]: 19.1.7 = clang+llvm-19.1.7-armv7a-linux-gnueabihf.tar.gz
[aarch64,pc-solaris2.11,"latest:<=20.1.0"]: N/A
[aarch64,pc-solaris2.11,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: N/A
[aarch64,pc-solaris2.11,"latest:<20.1.0,>17.0.4,!=19.1.7"]: N/A
[aarch64,pc-solaris2.11,"latest:<20.1.0,>17.0.4"]: N/A
[aarch64,windows,"latest:<=20.1.0"]: 20.1.0 = clang+llvm-20.1.0-aarch64-pc-windows-msvc.tar.xz
[aarch64,windows,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: 20.1.0 = clang+llvm-20.1.0-aarch64-pc-windows-msvc.tar.xz
[aarch64,windows,"latest:<20.1.0,>17.0.4,!=19.1.7"]: N/A
[aarch64,windows,"latest:<20.1.0,>17.0.4"]: N/A
[powerpc64,darwin,"latest:<=20.1.0"]: 18.1.8 = clang+llvm-18.1.8-powerpc64-ibm-aix-7.2.tar.xz
[powerpc64,darwin,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: 18.1.8 = clang+llvm-18.1.8-powerpc64-ibm-aix-7.2.tar.xz
[powerpc64,darwin,"latest:<20.1.0,>17.0.4,!=19.1.7"]: 18.1.8 = clang+llvm-18.1.8-powerpc64-ibm-aix-7.2.tar.xz
[powerpc64,darwin,"latest:<20.1.0,>17.0.4"]: 18.1.8 = clang+llvm-18.1.8-powerpc64-ibm-aix-7.2.tar.xz
[powerpc64,linux,"latest:<=20.1.0"]: 18.1.8 = clang+llvm-18.1.8-powerpc64-ibm-aix-7.2.tar.xz
[powerpc64,linux,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: 18.1.8 = clang+llvm-18.1.8-powerpc64-ibm-aix-7.2.tar.xz
[powerpc64,linux,"latest:<20.1.0,>17.0.4,!=19.1.7"]: 18.1.8 = clang+llvm-18.1.8-powerpc64-ibm-aix-7.2.tar.xz
[powerpc64,linux,"latest:<20.1.0,>17.0.4"]: 18.1.8 = clang+llvm-18.1.8-powerpc64-ibm-aix-7.2.tar.xz
[powerpc64,raspbian,"latest:<=20.1.0"]: 20.1.0 = clang+llvm-20.1.0-armv7a-linux-gnueabihf.tar.gz
[powerpc64,raspbian,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: 20.1.0 = clang+llvm-20.1.0-armv7a-linux-gnueabihf.tar.gz
[powerpc64,raspbian,"latest:<20.1.0,>17.0.4,!=19.1.7"]: 19.1.6 = clang+llvm-19.1.6-armv7a-linux-gnueabihf.tar.gz
[powerpc64,raspbian,"latest:<20.1.0,>17.0.4"]: 19.1.7 = clang+llvm-19.1.7-armv7a-linux-gnueabihf.tar.gz
[powerpc64,pc-solaris2.11,"latest:<=20.1.0"]: 18.1.8 = clang+llvm-18.1.8-powerpc64-ibm-aix-7.2.tar.xz
[powerpc64,pc-solaris2.11,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: 18.1.8 = clang+llvm-18.1.8-powerpc64-ibm-aix-7.2.tar.xz
[powerpc64,pc-solaris2.11,"latest:<20.1.0,>17.0.4,!=19.1.7"]: 18.1.8 = clang+llvm-18.1.8-powerpc64-ibm-aix-7.2.tar.xz
[powerpc64,pc-solaris2.11,"latest:<20.1.0,>17.0.4"]: 18.1.8 = clang+llvm-18.1.8-powerpc64-ibm-aix-7.2.tar.xz
[powerpc64,windows,"latest:<=20.1.0"]: 18.1.8 = clang+llvm-18.1.8-powerpc64-ibm-aix-7.2.tar.xz
[powerpc64,windows,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: 18.1.8 = clang+llvm-18.1.8-powerpc64-ibm-aix-7.2.tar.xz
[powerpc64,windows,"latest:<20.1.0,>17.0.4,!=19.1.7"]: 18.1.8 = clang+llvm-18.1.8-powerpc64-ibm-aix-7.2.tar.xz
[powerpc64,windows,"latest:<20.1.0,>17.0.4"]: 18.1.8 = clang+llvm-18.1.8-powerpc64-ibm-aix-7.2.tar.xz
[powerpc64le,darwin,"latest:<=20.1.0"]: 18.1.8 = clang+llvm-18.1.8-powerpc64le-linux-rhel-8.8.tar.xz
[powerpc64le,darwin,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: 18.1.8 = clang+llvm-18.1.8-powerpc64le-linux-rhel-8.8.tar.xz
[powerpc64le,darwin,"latest:<20.1.0,>17.0.4,!=19.1.7"]: 18.1.8 = clang+llvm-18.1.8-powerpc64le-linux-rhel-8.8.tar.xz
[powerpc64le,darwin,"latest:<20.1.0,>17.0.4"]: 18.1.8 = clang+llvm-18.1.8-powerpc64le-linux-rhel-8.8.tar.xz
[powerpc64le,linux,"latest:<=20.1.0"]: 18.1.8 = clang+llvm-18.1.8-powerpc64le-linux-rhel-8.8.tar.xz
[powerpc64le,linux,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: 18.1.8 = clang+llvm-18.1.8-powerpc64le-linux-rhel-8.8.tar.xz
[powerpc64le,linux,"latest:<20.1.0,>17.0.4,!=19.1.7"]: 18.1.8 = clang+llvm-18.1.8-powerpc64le-linux-rhel-8.8.tar.xz
[powerpc64le,linux,"latest:<20.1.0,>17.0.4"]: 18.1.8 = clang+llvm-18.1.8-powerpc64le-linux-rhel-8.8.tar.xz
[powerpc64le,raspbian,"latest:<=20.1.0"]: 20.1.0 = clang+llvm-20.1.0-armv7a-linux-gnueabihf.tar.gz
[powerpc64le,raspbian,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: 20.1.0 = clang+llvm-20.1.0-armv7a-linux-gnueabihf.tar.gz
[powerpc64le,raspbian,"latest:<20.1.0,>17.0.4,!=19.1.7"]: 19.1.6 = clang+llvm-19.1.6-armv7a-linux-gnueabihf.tar.gz
[powerpc64le,raspbian,"latest:<20.1.0,>17.0.4"]: 19.1.7 = clang+llvm-19.1.7-armv7a-linux-gnueabihf.tar.gz
[powerpc64le,pc-solaris2.11,"latest:<=20.1.0"]: 18.1.8 = clang+llvm-18.1.8-powerpc64le-linux-rhel-8.8.tar.xz
[powerpc64le,pc-solaris2.11,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: 18.1.8 = clang+llvm-18.1.8-powerpc64le-linux-rhel-8.8.tar.xz
[powerpc64le,pc-solaris2.11,"latest:<20.1.0,>17.0.4,!=19.1.7"]: 18.1.8 = clang+llvm-18.1.8-powerpc64le-linux-rhel-8.8.tar.xz
[powerpc64le,pc-solaris2.11,"latest:<20.1.0,>17.0.4"]: 18.1.8 = clang+llvm-18.1.8-powerpc64le-linux-rhel-8.8.tar.xz
[powerpc64le,windows,"latest:<=20.1.0"]: 18.1.8 = clang+llvm-18.1.8-powerpc64le-linux-rhel-8.8.tar.xz
[powerpc64le,windows,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: 18.1.8 = clang+llvm-18.1.8-powerpc64le-linux-rhel-8.8.tar.xz
[powerpc64le,windows,"latest:<20.1.0,>17.0.4,!=19.1.7"]: 18.1.8 = clang+llvm-18.1.8-powerpc64le-linux-rhel-8.8.tar.xz
[powerpc64le,windows,"latest:<20.1.0,>17.0.4"]: 18.1.8 = clang+llvm-18.1.8-powerpc64le-linux-rhel-8.8.tar.xz
[sparcv9,darwin,"latest:<=20.1.0"]: 18.1.6 = clang+llvm-18.1.6-sparcv9-sun-solaris2.11.tar.xz
[sparcv9,darwin,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: 18.1.6 = clang+llvm-18.1.6-sparcv9-sun-solaris2.11.tar.xz
[sparcv9,darwin,"latest:<20.1.0,>17.0.4,!=19.1.7"]: 18.1.6 = clang+llvm-18.1.6-sparcv9-sun-solaris2.11.tar.xz
[sparcv9,darwin,"latest:<20.1.0,>17.0.4"]: 18.1.6 = clang+llvm-18.1.6-sparcv9-sun-solaris2.11.tar.xz
[sparcv9,linux,"latest:<=20.1.0"]: 18.1.6 = clang+llvm-18.1.6-sparcv9-sun-solaris2.11.tar.xz
[sparcv9,linux,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: 18.1.6 = clang+llvm-18.1.6-sparcv9-sun-solaris2.11.tar.xz
[sparcv9,linux,"latest:<20.1.0,>17.0.4,!=19.1.7"]: 18.1.6 = clang+llvm-18.1.6-sparcv9-sun-solaris2.11.tar.xz
[sparcv9,linux,"latest:<20.1.0,>17.0.4"]: 18.1.6 = clang+llvm-18.1.6-sparcv9-sun-solaris2.11.tar.xz
[sparcv9,raspbian,"latest:<=20.1.0"]: 20.1.0 = clang+llvm-20.1.0-armv7a-linux-gnueabihf.tar.gz
[sparcv9,raspbian,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: 20.1.0 = clang+llvm-20.1.0-armv7a-linux-gnueabihf.tar.gz
[sparcv9,raspbian,"latest:<20.1.0,>17.0.4,!=19.1.7"]: 19.1.6 = clang+llvm-19.1.6-armv7a-linux-gnueabihf.tar.gz
[sparcv9,raspbian,"latest:<20.1.0,>17.0.4"]: 19.1.7 = clang+llvm-19.1.7-armv7a-linux-gnueabihf.tar.gz
[sparcv9,pc-solaris2.11,"latest:<=20.1.0"]: 18.1.6 = clang+llvm-18.1.6-sparcv9-sun-solaris2.11.tar.xz
[sparcv9,pc-solaris2.11,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: 18.1.6 = clang+llvm-18.1.6-sparcv9-sun-solaris2.11.tar.xz
[sparcv9,pc-solaris2.11,"latest:<20.1.0,>17.0.4,!=19.1.7"]: 18.1.6 = clang+llvm-18.1.6-sparcv9-sun-solaris2.11.tar.xz
[sparcv9,pc-solaris2.11,"latest:<20.1.0,>17.0.4"]: 18.1.6 = clang+llvm-18.1.6-sparcv9-sun-solaris2.11.tar.xz
[sparcv9,windows,"latest:<=20.1.0"]: 18.1.6 = clang+llvm-18.1.6-sparcv9-sun-solaris2.11.tar.xz
[sparcv9,windows,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: 18.1.6 = clang+llvm-18.1.6-sparcv9-sun-solaris2.11.tar.xz
[sparcv9,windows,"latest:<20.1.0,>17.0.4,!=19.1.7"]: 18.1.6 = clang+llvm-18.1.6-sparcv9-sun-solaris2.11.tar.xz
[sparcv9,windows,"latest:<20.1.0,>17.0.4"]: 18.1.6 = clang+llvm-18.1.6-sparcv9-sun-solaris2.11.tar.xz
[x86_64,darwin,"latest:<=20.1.0"]: 19.1.7 = LLVM-19.1.7-macOS-X64.tar.xz
[x86_64,darwin,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: 19.1.6 = LLVM-19.1.6-macOS-X64.tar.xz
[x86_64,darwin,"latest:<20.1.0,>17.0.4,!=19.1.7"]: 19.1.6 = LLVM-19.1.6-macOS-X64.tar.xz
[x86_64,darwin,"latest:<20.1.0,>17.0.4"]: 19.1.7 = LLVM-19.1.7-macOS-X64.tar.xz
[x86_64,linux,"latest:<=20.1.0"]: 20.1.0 = LLVM-20.1.0-Linux-X64.tar.xz
[x86_64,linux,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: 20.1.0 = LLVM-20.1.0-Linux-X64.tar.xz
[x86_64,linux,"latest:<20.1.0,>17.0.4,!=19.1.7"]: 19.1.6 = LLVM-19.1.6-Linux-X64.tar.xz
[x86_64,linux,"latest:<20.1.0,>17.0.4"]: 19.1.7 = LLVM-19.1.7-Linux-X64.tar.xz
[x86_64,raspbian,"latest:<=20.1.0"]: 20.1.0 = clang+llvm-20.1.0-armv7a-linux-gnueabihf.tar.gz
[x86_64,raspbian,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: 20.1.0 = clang+llvm-20.1.0-armv7a-linux-gnueabihf.tar.gz
[x86_64,raspbian,"latest:<20.1.0,>17.0.4,!=19.1.7"]: 19.1.6 = clang+llvm-19.1.6-armv7a-linux-gnueabihf.tar.gz
[x86_64,raspbian,"latest:<20.1.0,>17.0.4"]: 19.1.7 = clang+llvm-19.1.7-armv7a-linux-gnueabihf.tar.gz
[x86_64,pc-solaris2.11,"latest:<=20.1.0"]: 18.1.6 = clang+llvm-18.1.6-amd64-pc-solaris2.11.tar.xz
[x86_64,pc-solaris2.11,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: 18.1.6 = clang+llvm-18.1.6-amd64-pc-solaris2.11.tar.xz
[x86_64,pc-solaris2.11,"latest:<20.1.0,>17.0.4,!=19.1.7"]: 18.1.6 = clang+llvm-18.1.6-amd64-pc-solaris2.11.tar.xz
[x86_64,pc-solaris2.11,"latest:<20.1.0,>17.0.4"]: 18.1.6 = clang+llvm-18.1.6-amd64-pc-solaris2.11.tar.xz
[x86_64,windows,"latest:<=20.1.0"]: 20.1.0 = clang+llvm-20.1.0-x86_64-pc-windows-msvc.tar.xz
[x86_64,windows,"latest:<=20.1.0,>17.0.4,!=19.1.7"]: 20.1.0 = clang+llvm-20.1.0-x86_64-pc-windows-msvc.tar.xz
[x86_64,windows,"latest:<20.1.0,>17.0.4,!=19.1.7"]: 19.1.6 = clang+llvm-19.1.6-x86_64-pc-windows-msvc.tar.xz
[x86_64,windows,"latest:<20.1.0,>17.0.4"]: 19.1.7 = clang+llvm-19.1.7-x86_64-pc-windows-msvc.tar.xz
