name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]
        script: [run_tests.sh, run_external_tests.sh]
    steps:
    - uses: actions/checkout@v2
    - name: test
      run: tests/scripts/${{ matrix.script }}
  container_test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # TODO: Re-enable suse_leap, suse_tumbleweed; see https://github.com/grailbio/bazel-toolchain/issues/143.
        script: [archlinux, debian, fedora, ubuntu_18_04, ubuntu_20_04, linux_sysroot]
    steps:
    - uses: actions/checkout@v2
    - name: test
      run: tests/scripts/${{ matrix.script }}_test.sh
  xcompile_test:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: test
      run: tests/scripts/run_xcompile_tests.sh
  abs_paths_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: test
      run: tests/scripts/run_tests.sh -t @llvm_toolchain_with_absolute_paths//:cc-toolchain-x86_64-linux
