name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]
        bazel_version: [latest, 6.2.0, 5.1.0]
        bzlmod: [yes, no]
        exclude:
          - bzlmod: yes
            bazel_version: 5.1.0
    steps:
    - uses: actions/checkout@v2
    - name: test
      env:
        USE_BAZEL_VERSION: ${{ matrix.bazel_version }}
        USE_BZLMOD: ${{ matrix.bzlmod }}
      run: tests/scripts/run_tests.sh
  external_test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]
        bazel_version: [latest, 6.2.0, 5.1.0]
        bzlmod: [no]
        include:
          - bzlmod: yes
            experimental: true
        exclude:
          - bzlmod: yes
            bazel_version: 5.1.0
    steps:
    - uses: actions/checkout@v2
    - name: test
      env:
        USE_BAZEL_VERSION: ${{ matrix.bazel_version }}
        USE_BZLMOD: ${{ matrix.bzlmod }}
      run: tests/scripts/run_external_tests.sh
  container_test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        script: [archlinux, debian, fedora, suse_leap, suse_tumbleweed, ubuntu_18_04, ubuntu_20_04, linux_sysroot]
    steps:
    - uses: actions/checkout@v2
    - name: test
      run: tests/scripts/${{ matrix.script }}_test.sh
  xcompile_test:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: test
      run: tests/scripts/run_xcompile_tests.sh
  abs_paths_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: test
      run: tests/scripts/run_tests.sh -t @llvm_toolchain_with_absolute_paths//:cc-toolchain-x86_64-linux
  sys_paths_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Download and Extract LLVM distribution
      env:
        release: "llvmorg-15.0.6"
        archive: "clang+llvm-15.0.6-x86_64-linux-gnu-ubuntu-18.04"
        ext: ".tar.xz"
        local_path: "/tmp/llvm-15"
      run: wget --no-verbose "https://github.com/llvm/llvm-project/releases/download/${release}/${archive}${ext}" && tar -xf "${archive}${ext}" && mv "${archive}" "${local_path}"
    - name: test
      run: tests/scripts/run_tests.sh -t @llvm_toolchain_with_system_llvm//:cc-toolchain-x86_64-linux
